######### Global ThreadPool #########
Ice.ThreadPool.Client.SizeMax = 10
Ice.ThreadPool.Server.SizeMax = 10
Ice.MessageSizeMax = 2000000

######### constant settings ################
# 获取邻居节点列表数量(light\local)
NeighborSize=3
# 轻节点发送交易批次间隔（毫秒）(light)
SendInterval=30
# 轻节点客户端发送交易次数是否无限制：1-无，其他则按SendTransactionBatchCount来(默认非1)(light)
SendNoLimit=0
# 轻节点客户端发送交易次数(默认5000)(light)
SendCount=10000
# 是否发送真实交易结构模拟数据：1-是，其他则按SendDataByteSize来(默认非1)(light)
SendRealData=0
# 是否发送数据字节数(最低默认100，自动向下去10的倍数，当设置SendRealData=1时，改参数无效)(light)
SendDataByteSize=100

#light node pubkey
pubkey=1

######### address settings ################
### 必须要设置所有seed参数
# 公网静态IP
seed.pubIP = 172.17.2.40
# gossip网络端口
seed.port = 20000
# 节点rpc服务端口
seed.rpcPort = 20001
# 节点http服务端口
seed.httpPort = 20002