######### Global ThreadPool #########
Ice.ThreadPool.Client.SizeMax = 10
Ice.ThreadPool.Server.SizeMax = 10
Ice.MessageSizeMax = 2000000

######### constant settings ################
# 是否自动获取并设置端口：1-是，0-否
autoSetPort=1
# tps统计间隔（毫秒）
statisticsInterval=3000
# tps统计次数
statisticsBatches=1000
# 最大同步事件数量
SyncEventSize = 50
# gossip事件间隔（毫秒）(local)
GossipEventIntervalInShard=25
GossipEventIntervalOutShard=50
# 每个event打包transaction最大数量
TransactionsPerEvent = 15000
# 轻节点客户端每次发送交易数(light)
TransactionsPerSend = 10000
# 发起gossip传播轮数是否无限制：1-无，其他则按GossipCount来(默认非1)(local)
GossipNoLimit = 1
# 默认发起gossip传播轮数(local)
GossipCount = 1000
# 是否发送真实交易结构模拟数据：1-是，其他则按SendDataByteSize来(默认非1)(light)
SendRealData=0
# 是否发送数据字节数(最低默认100，自动向下去10的倍数，当设置SendRealData=1时，改参数无效)(light)
SendDataByteSize=100
# 是否开启验证(1-需要验证)
SignVerify=0

######### address settings ################
### 必须要设置所有seed参数
# 公网静态IP
seed.pubIP = 172.17.2.40
# gossip网络端口
seed.port = 20000
# 节点rpc服务端口
seed.rpcPort = 20001
# 节点http服务端口
seed.httpPort = 20002

### 必须要设置所有myself参数
# 公网静态IP
myself.pubIP = 172.17.2.40
# gossip网络端口
myself.port = 30001
# 节点rpc服务端口
myself.rpcPort = 30002
# 节点rpc服务端口
myself.httpPort = 30003