######### Global ThreadPool #########
Ice.ThreadPool.Client.SizeMax = 10
Ice.ThreadPool.Server.SizeMax = 10
Ice.MessageSizeMax = 2000000

######### constant settings ################
# tps统计间隔（毫秒）
statisticsInterval=3000
# tps统计次数
statisticsBatches=1000
# 总分片数
ShardSize =1
# 每个分片的局部全节点数量
LocalFullNodeSize = 3
# 获取邻居节点列表数量(light\local)
NeighborSize=3


######### address settings ################
### 必须要设置所有seed参数
# 公网静态IP
seed.pubIP = 172.17.2.40
# gossip网络端口
seed.port = 20000
# 节点rpc服务端口
seed.rpcPort = 20001
# 节点http服务端口
seed.httpPort = 20002